extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  form(action="/get-file-size" method="put" enctype="multipart/form-data")
    input(type="file" name="file")
    input(type="submit")